// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

#news .card-simple img, 
#news .view-card img {
  object-fit: contain !important;
  width: 100%;
  height: auto;
  max-height: 300px; /* Adjust this height limit if needed */
}